* text=auto eol=lf
src/api/PluginManager.ts merge=ours
src/api/NicknameIcons.tsx merge=ours
src/api/AudioPlayer.ts merge=ours
src/plugins/DontControlMe/index.tsx merge=ours
src/plugins/FollowUser/index.tsx merge=ours
src/plugins/SmoothType/index.tsx merge=ours
src/plugins/_api/audioPlayer.ts merge=ours
src/plugins/_api/badges/index.tsx merge=ours
src/plugins/_api/nicknameIcons.ts merge=ours
src/plugins/_misc/styles.css merge=ours
src/plugins/betterMicrophone.desktop/** merge=ours
src/plugins/betterScreenshare.desktop/** merge=ours
src/plugins/fakeDeafen/** merge=ours
src/plugins/philsPluginLibrary/** merge=ours
src/plugins/platformIndicators/** merge=ours
src/plugins/platformSpoofer/** merge=ours
src/plugins/questify/** merge=ours
src/plugins/whosWatching/** merge=ours
src/plugins/voicechannelblacklist/** merge=ours
src/plugins/vcvoiceChatUtilities/** merge=ours
src/plugins/unlimitedAccounts/** merge=ours
src/plugins/typingTweaks/** merge=ours
src/plugins/pulluser/** merge=ours
src/utils/constants.ts merge=ours
src/utils/text.ts merge=ours
src/utils/types.ts merge=ours
.github/** merge=ours
